---
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";

interface Props {
  href?: string;
  label?: string;
}

const { href = "/", label = "Go back" } = Astro.props;
---

{
  SITE.showBackButton && (
    <div class="app-layout flex items-center justify-start">
      <LinkButton
        href={href}
        class="focus-outline -ms-2 mt-8 mb-2 hover:text-foreground/75"
      >
        <IconChevronLeft class="inline-block size-6 rtl:rotate-180" />
        <span>{label}</span>
      </LinkButton>
    </div>
  )
}
